<div class="row">

      <div class="col s12 m4 l3">
        <h5>Channels</h5>
        <ul *foreach="#channel in channels" class="collection">
          <li class="collection-item">{{channel.channel_name}} ::: {{channel.messages.length}}</li>
        </ul>
      </div>
      <div class="col s12 m8 l9">
        <h5>Messages</h5>
        <ul *foreach="#message in selectedChannel.messages" class="collection">
          <li class="collection-item">{{message.createdAt}} ::: {{message.body.length}}</li>
        </ul>
        <!-- Note that "m8 l9" was added -->
        <!-- Teal page content

              This content will be:
          9-columns-wide on large screens,
          8-columns-wide on medium screens,
          12-columns-wide on small screens  -->

      </div>

    </div>
